<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.egt.mypage.mapper.CalendarMapper">
 	<insert id="insertEvent" parameterType="map">
 		INSERT INTO `calendar`
 		(	
 			`userId`
 			,`date`
 			,`routineId`
 			,`content`
			,`createdAt`
			,`updatedAt`
		)
 		VALUES
 		(
 			#{userId}
 			,#{date}
 			,#{routineId}
 			,#{content}
			, NOW()
			, NOW()
 		)
 	
 	</insert>
 	
 	<select id="getEvents" resultType="com.egt.mypage.domain.Event">
 	SELECT
 			`content`,
 			`date`,
            `routineId`
 		FROM
 			`calendar`
 		WHERE
 			`userId` = #{userId}
 	
 	</select>
</mapper> 	