<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.egt.program.mapper.ProgramMapper">
 	<insert id="insertProgram" parameterType="map">
 		INSERT INTO `program_post`
 		(	
 			`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
 		VALUES
 		(
 			#{userId}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
 		)
 	
 	</insert>
 	
 	<select id="selectProgram" resultType="com.egt.program.domain.Program">
 		SELECT
 			`id`
 			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`program_post`
 	</select>
 	
 	<select id="selectPostByPostId" resultType="com.egt.program.domain.Program">
 		SELECT
 			`id`
 			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`program_post`
 		WHERE
 			`id`= #{postId}
 	</select>
 </mapper>